@media screen and (max-width:890px){
    *{
        font-size: 15px;
    }

    .img-movie{
        margin-top: 0px;
        padding-top: 0px;
    width: 200px; 
}


}

@media screen and (max-width:815px){
    *{
        font-size: 12px;

    }

.navigation{
    display: none;
}

.navigation-social{
    display: none;
}

.img-cap{
    display: none;
}

.img-marioEluigi{
    display: none;
}
}


@media screen and (max-width:600px){

    .main-info{
        width: 380px;
        justify-content: center;
       text-align: center;
    }

  .paragrafo-principal{font-size: 8px;

}
}

@media screen and (max-width:420px){

    .main-info{
        width: 300px;
        justify-content: center;
       text-align: center;
    }

  .paragrafo-principal{font-size: 6px;
    
}


}